@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.App {
  padding-top: 20px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
}

.keypad {
  width: 280px;
}

.displayBlock {
  display: flex;
  flex-direction: column;
}

#topDisplay {
  border-bottom: 0px white solid;
  text-align: left;
  border-radius: 0px;
}

#bottomDisplay {
  border-top: 0px white solid;
  text-align: right;
  border-radius: 0px;
  font-size: 35px;
}